<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
  <configuration>
  	<typeAliases>
  	
  		<typeAlias type="kosta.teamd.vo.MemberVO" alias="mvo" />       <!-- member -->
  		<typeAlias type="kosta.teamd.vo.MemRolesVO" alias="mrvo" />    <!-- memroles -->
  		
  		<typeAlias type="kosta.teamd.vo.AnimalVO" alias="anivo" />     <!-- animal -->
  		
  		<typeAlias type="kosta.teamd.vo.BoardVO" alias="bvo" />        <!-- board -->
  		<typeAlias type="kosta.teamd.vo.CommBoardVO" alias="cbvo" />   <!-- commboard -->
  		
  		<typeAlias type="kosta.teamd.vo.AniBoardVO" alias="abvo"/>  <!-- 이미지게시판용.. -->
  		
  		
  		<typeAlias type="kosta.teamd.vo.VolunteerVO" alias="vvo"/>
		<typeAlias type="kosta.teamd.vo.VapplyVO" alias="vavo"/>
		<typeAlias type="kosta.teamd.vo.volFkVO" alias="fkvo"/>
		<typeAlias type="kosta.teamd.vo.CenterVO" alias="cvo"/>
		<typeAlias type="kosta.teamd.vo.ChartVO" alias="chvo"/>
		
<!-- 설문조사 -->
		<typeAlias type="kosta.teamd.vo.SurveyVO" alias="survo"/>
		<typeAlias type="kosta.teamd.vo.SurveyLogVO" alias="slogvo"/>
<!-- 		<typeAlias type="kosta.teamd.vo.Survey1VO" alias="svo1"/> -->
<!-- 		<typeAlias type="kosta.teamd.vo.Survey2VO" alias="svo2"/> -->
<!-- 		<typeAlias type="kosta.teamd.vo.Survey3VO" alias="svo3"/> -->

		<!-- 입양 -->
		<typeAlias type="kosta.teamd.vo.AdoptApplyVO" alias="adavo"/>
		
		
		

		
  	</typeAliases>
  </configuration>
